{% extends 'masterpage.html' %}

{% block title %}
Add Product
{% endblock %}

{% block content %}

<div class="container">

    <h1 align="center">Add Product</h1>
    <form method="POST" enctype="multipart/form-data" onsubmit="return confirmSave()">

        {% csrf_token %}

        {% if form.errors %}
            <div class="form-errors">
                {{ form.non_field_errors }}
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ field.label }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <label>Product Name</label>

        <input type="text"
               name="name"
               value="{{ form.name.value|default_if_none:'' }}"
               required>

        <br><br>

        <label>Price</label>

        <input type="number"
               name="price"
               step="0.01"
               required>

        <br><br>

        <label>Description</label>

        <textarea
            name="description"
            rows="5"
            required>{{ form.description.value }}</textarea>

        <br><br>

        <label>Image</label>

        <input type="file"
               name="image">

        <br><br>

        <label>Status</label>

        <select name="status">

            <option value="Available" {% if form.status.value == "Available" %}selected{% endif %}>
                Available
            </option>

            <option value="Out of Stock" {% if form.status.value == "Out of Stock" %}selected{% endif %}>
                Out of Stock
            </option>

        </select>

        <br><br>

        <button type="submit">

            Save Product

        </button>

    </form>

</div>

{% endblock %}