<!DOCTYPE html>
<html>
<head>
    <title>Add Product</title>
</head>
<body>

<h2>Add Product</h2>

<form method="POST" enctype="multipart/form-data">

{% csrf_token %}

<input type="text" name="name" placeholder="Name"><br><br>

<input type="number" name="price" placeholder="Price"><br><br>

<textarea name="description"></textarea><br><br>

<input type="file" name="image"><br><br>

<select name="status">
    <option>Available</option>
    <option>Out of Stock</option>
</select>

<br><br>

<button type="submit">Save</button>

</form>

</body>
</html>