{% extends 'masterpage.html' %}

{% block title %}
Products
{% endblock %}

{% block content %}

<div class="container">

    <h1 align="center">Product List</h1>

    <br>

    <table border="1" width="100%" cellpadding="10">

        <tr bgcolor="#343a40" style="color:white;">

            <th>ID</th>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Status</th>

        </tr>

        {% for product in products %}

        <tr>

            <td>{{ product.id }}</td>

            <td>

                {% if product.image %}
                    <img src="{{ product.image.url }}" width="80">
                {% else %}
                    No Image
                {% endif %}

            </td>

            <td>{{ product.name }}</td>

            <td>₹ {{ product.price }}</td>

            <td>{{ product.description }}</td>

            <td>{{ product.status }}</td>

        </tr>

        {% empty %}

        <tr>

            <td colspan="6" align="center">

                No Products Found

            </td>

        </tr>

        {% endfor %}

    </table>

</div>

{% endblock %}